<launch>
    <node name="pc_sim" pkg="pc_simulation" type="pc_sim" output="screen">
        <param name="setting" type="string" value="$(find pc_simulation)/setting/parameter.yaml" />
    </node>
<!--
    <node pkg="rosbag" type="play" name="player" output="log" 
    args="/home/tony-ws1/bag/ijrr_euroc_mav_dataset/$(arg sequence_name)/$(arg sequence_name).bag -r 2" />
-->
</launch>
